a:link, a:visited {
  border-color: white;
  border-radius: 12px;
  color: #ffffff;
  display: inline-block;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}

a:hover, a:active {
  background-color: #7cb342;
  text-decoration: underline;
}

body {
  background-image: url("../images/background_food.png");
  margin: 0;
  max-width: 90%;
  padding: 15px;
}

button {
  border-radius: 9px;
}

h1 {
  color: #558b2f;
  font-family: "Calibri";
}

h2, h3, h4, p, ul, li {
  color: #ffffff;
  font-family: "Calibri";
}

input {
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-family: "Calibri";
  margin-top: 3px;
  transition: width 0.6s ease-in-out;
  -webkit-transition: width 0.6s ease-in-out;
  width: 280px;
}

input:focus {
  width: 90%;
}

td {
  padding-right: 30px;
}

ul.header {
  background-color: #8bc34a;
  padding: 0;
  border: 2px solid #ffffff;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}

ul.sub {
  background-color: #8bc34a;
  padding: 0;
  border: 2px solid white;
}

ul.sub li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.sub li a {
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}

.active {
  background-color: #7cb342;
}

.content {
  background-color: #8bc34a;
  border: 2px solid #ffffff;
  border-radius: 12px;
  margin-left: 22%;
  opacity: 0.85;
  padding: 0;
  width: 60%;
}

.gridlayout {
  margin-left: 10px;
  margin-bottom: 20px;
}

.header {
  border: 2px solid #ffffff;
  border-radius: 12px;
  margin-left: 22%;
  margin-top: 0%;
  opacity: 0.9;
  width: 60%;
}

.loginregisterbuttons {
  margin-left: 185px;
  margin-top: 5px;
}

.loginform {
  margin-top: 20px;
}

.loginpage {
  margin-bottom: 20px;
}

.paddedcontent {
  margin-left: 5%;
}

.sub {
  border: 2px solid white;
  border-radius: 12px;
  margin-left: 22%;
  margin-top: 0%;
  opacity: 0.9;
  width: 60%;
  justify-content: center;
}

.submissionfield {
  width: 270px;
  height: 90px;
  border: 1px
  solid #999999;
  padding: 5px;
}

.tab {
  padding-right: 5px;
}

.title h1 {
  font-size: 65px;
  margin-left: 50px;
  opacity: 0.85;
  text-align: center;
}

.card {
  color: #ffffff;
}

.card-body {
  border: 3px;
  border-color: #ffffff;
}
